/* cute.css */
#div_816e_0{width:100%;padding:0%; float:left !important}
#div_816e_1{padding-left: 0px; !important}
#div_816e_2{margin-left:-60px;padding-left: 0px; !important}
#div_816e_3{border-left-style: none; float: left;padding-top: 13px;margin-right: 0px;padding-right: 0px;margin-left: -30px;padding-left: 0px; !important}
#div_816e_4{border-left-style: none;float: left;text-align: left; vertical-align: center;padding-top: 15px;margin-left: 0px;padding-left: 0px; !important}
#h3_816e_0{font-family: ubuntu ;color: white;display: inline; padding-bottom: 4px; !important}
#h3_816e_1{font-family: ubuntu ;color: blue; font-style: bold;display: inline; padding-bottom: 04px; !important}
#div_816e_5{border-left-style: none; float: left;padding-left: 0px;padding-top: 0px; !important}
#div_816e_6{border-left-style: none;padding-left: 0px; !important}
#b_816e_0{width: 100%;border-left-style: none;padding-left: 0px; !important}
#a_816e_0{color: white; !important}
#b_816e_1{width: 100%; !important}
#a_816e_1{color: white; !important}
#b_816e_2{width: 100%; !important}
#a_816e_2{color: white; !important}
#b_816e_3{width: 100%; !important}
#a_816e_3{color: white; !important}
#b_816e_4{width: 100%; !important}
#a_816e_4{color: white; !important}
#b_816e_5{width: 100%; !important}
#a_816e_5{color: white; !important}
#b_816e_6{width: 100%; !important}
#a_816e_6{color: white; !important}
#div_816e_7{float: right;border-left-style: none;margin-right:0px;padding-top: 0px; !important}
#a_816e_7{color: white; !important}
#a_816e_8{color: white; !important}
#a_816e_9{color: white; !important}
#a_816e_10{color: white; !important}
#a_816e_11{color: white; !important}
#a_816e_12{color: white; !important}
#a_816e_13{color: white; !important}
#a_816e_14{color: white; !important}
#div_816e_8{border-left-style: none; float: right;padding-top: 17px;padding-bottom: 0px; !important}
#div_816e_9{float: right;padding-right: 22px; !important}
#img_816e_0{background-color: black;border-radius:50%;border: 1px solid white; !important}
#div_816e_10{clear: right; float: right; !important}
#a_816e_15{color: white; !important}
#h2_816e_0{font-size: 60px; font-family: raleway, sans-serif;clear: both; display: block; !important}
#div_816e_11{margin-top:4%; margin-left: 8%; margin-right: 4%; float:left !important}
#div_816e_12{width:300px; height:200px; text-align: center !important}
#div_816e_13{font-size: 20px; text-align: center; font-family: sans-serif; !important}
#div_816e_14{margin-top:4%; margin-left: 4%; margin-right: 4%; float:left !important}
#div_816e_15{width:300px; height:200px; text-align: center !important}
#div_816e_16{font-size: 20px; text-align: center; font-family: sans-serif; !important}
#div_816e_17{margin-top:4%;margin-left: 4%; margin-right: 4%; float:left !important}
#div_816e_18{width:300px; height:200px; text-align: center !important}
#div_816e_19{font-size: 20px; text-align: center; font-family: sans-serif; !important}
#div_816e_20{margin-left: 8%; margin-right: 8%; float:left !important}
#div_816e_21{width:300px; height: 200px; text-align: center !important}
#div_816e_22{font-size: 20px; text-align: center; font-family: sans-serif; !important}
#div_816e_23{margin-left: 1%; margin-right: 4%; float:left !important}
#div_816e_24{width:300px; height:200px; text-align: center !important}
#div_816e_25{font-size: 20px; text-align: center; font-family: sans-serif; !important}
#div_816e_26{margin-left: 4%; margin-right: 4%; float:left !important}
#div_816e_27{width:300px; height:200px; text-align: center !important}
#div_816e_28{font-size: 20px; text-align: center; font-family: sans-serif; !important}

