#menu{width:100%;padding:0%;background-color: white;background-size: cover;}
#div_8ec7_0{width:100%;padding:0%; float:left}
#div_8ec7_1{padding-left: 0px;}
#div_8ec7_2{margin-left:-60px;padding-left: 0px;}
#div_8ec7_3{border-left-style: none; float: left;padding-top: 13px;margin-right: 0px;padding-right: 0px;margin-left: -30px;padding-left: 0px;}
#div_8ec7_4{border-left-style: none;float: left;text-align: left; vertical-align: center;padding-top: 15px;margin-left: 0px;padding-left: 0px;}
#h3_8ec7_0{font-family: ubuntu ;color: white;display: inline; padding-bottom: 4px;}
#h3_8ec7_1{font-family: ubuntu ;color: blue; font-style: bold;display: inline; padding-bottom: 04px;}
#div_8ec7_5{border-left-style: none; float: left;padding-left: 0px;padding-top: 0px;}
#div_8ec7_6{border-left-style: none;padding-left: 0px;}
#b_8ec7_0{width: 100%;border-left-style: none;padding-left: 0px;}
#a_8ec7_0{color: white;}
#b_8ec7_1{width: 100%;}
#a_8ec7_1{color: white;}
#b_8ec7_2{width: 100%;}
#a_8ec7_2{color: white;}
#b_8ec7_3{width: 100%;}
#a_8ec7_3{color: white;}
#b_8ec7_4{width: 100%;}
#a_8ec7_4{color: white;}
#b_8ec7_5{width: 100%;}
#a_8ec7_5{color: white;}
#b_8ec7_6{width: 100%;}
#a_8ec7_6{color: white;}
#div_8ec7_7{float: right;border-left-style: none;margin-right:0px;padding-top: 0px;}
#a_8ec7_7{color: white;}
#a_8ec7_8{color: white;}
#a_8ec7_9{color: white;}
#a_8ec7_10{color: white;}
#a_8ec7_11{color: white;}
#a_8ec7_12{color: white;}
#a_8ec7_13{color: white;}
#a_8ec7_14{color: white;}
#div_8ec7_8{border-left-style: none; float: right;padding-top: 17px;padding-bottom: 0px;}
#div_8ec7_9{float: right;padding-right: 22px;}
#img_8ec7_0{background-color: black;border-radius:50%;border: 1px solid white;}
#div_8ec7_10{clear: right; float: right;}
#a_8ec7_15{color: white;}
#header{max-width: 100%}
#div_8ec7_11{background-color: purple;}
#div_8ec7_12{padding: 0px; width: 100%;}
#backdrop{margin-top: 50px;background: url(https://i.gifer.com/EKKn.gif) fixed no-repeat rgba(39,62,84,0.82); margin-left:auto; margin-right:auto; display:block;background-size:cover;max-width: 100%; margin-bottom: 30px}
#h1_8ec7_0{font-size: 10vw;color: white;font-family: 'Signika', sans-serif;display: inline;font-weight: bold; }
#p_8ec7_0{font-size: 3vw;color: white;font-family: 'Signika', sans-serif;display: inline;}
#div_8ec7_13{float: left;align-self: center; background-color: white;background-size: cover;background-image: url(https://us.123rf.com/450wm/valeo5/valeo51710/valeo5171000179/87772406-grey-burst-blurred-background-sparkling-texture-star-flash-glitter-particles-pattern-starry-red-expl.jpg?ver=6); background-attachment: fixed;  }
#div_8ec7_14{float:left;display: inline;}
#div_8ec7_15{float: left;align-self: center; background-color: white;background-size: cover;background-image: url(https://us.123rf.com/450wm/valeo5/valeo51710/valeo5171000179/87772406-grey-burst-blurred-background-sparkling-texture-star-flash-glitter-particles-pattern-starry-red-expl.jpg?ver=6); background-attachment: fixed;height: 100%}
#h2_8ec7_0{font-size: 50px; text-align: center;color:black;opacity:0.95; margin-left: 20px;display: block; font-family: Fredericka+the+Great}
#h3_8ec7_2{text-align: justify; font-size: 2vw; color: indigo;margin-bottom: 4px; font-family:Gruppo;height: 100%}
#h3_8ec7_3{text-align: justify; font-size: 2vw; color: indigo;margin-bottom: 4px; font-family:Gruppo;height: 100%}
#h3_8ec7_4{text-align: justify; font-size: 2vw; color: indigo;margin-bottom: 4px; font-family:Gruppo;height: 100%}
#div_8ec7_16{align-self: center; background-color: white;background-size: cover;background-image: url(https://us.123rf.com/450wm/valeo5/valeo51710/valeo5171000179/87772406-grey-burst-blurred-background-sparkling-texture-star-flash-glitter-particles-pattern-starry-red-expl.jpg?ver=6); background-attachment: fixed;float: right; height: 100%}
#img_8ec7_1{ padding-right: -300px;padding-top:-300px;border-top-left-radius: 200px 50%;
  border-bottom-left-radius: 200px 50%;}
#p_8ec7_1{clear: both;}
#testimonials{background-image: url(https://cdn.homesthetics.net/wp-content/uploads/2015/09/20-Of-The-Most-Beautiful-Nature-Made-And-Man-Made-Flower-Gardens-In-The-World-31.jpg); background-attachment: fixed; }
#div_8ec7_17{opacity: 0.85}
#div_8ec7_18{clear: right; clear: left;}
#img_8ec7_2{border-radius: 25px; width: 250px; height: 200px; border: 3px solid white;}
#p_8ec7_2{font-family: 'Gruppo';font-weight:bold;color: black; font-size: 20px; margin-left: 20px; margin-right: 10px;text-align: justify}
#p_8ec7_3{font-family: 'Gruppo';font-weight:bold; color: black; font-size: 20px; margin-left: 20px; margin-right: 10px;text-align: justify}
#Seasonal{align-self: center;background-color: white;background-size: cover;}
#h2_8ec7_1{font-size: 3vw;margin-top: 15px}
#div_8ec7_19{width:25vw; height: 25vw; margin-right: 1.5vw}
#img_8ec7_3{border-radius: 50%; border: 3px solid green;}
#h1_8ec7_1{font-size: 2vw;font-family: Gruppo}
#div_8ec7_20{width:25vw; height: 25vw; margin-right: 1.5vw}
#img_8ec7_4{border-radius: 50%; border: 3px solid green;}
#h1_8ec7_2{font-size: 2vw;font-family: Gruppo}
#div_8ec7_21{width:25vw; height: 25vw; margin-right: 1.5vw}
#img_8ec7_5{border-radius: 50%; border: 3px solid green;}
#h1_8ec7_3{font-size: 2vw;font-family: Gruppo}
#div_8ec7_22{align-self: center;background-color: white;background-size: cover;background-image: url(http://papers.co/wallpaper/papers.co-mc22-wallpaper-boo-184-flower-pink-blurred-36-3840x2400-4k-wallpaper.jpg); background-attachment: fixed}
#h2_8ec7_2{font-size: 2.5vw; color: black; padding:5px; padding-top: 1vh}
#td_8ec7_0{padding-right:50px;}
#i_8ec7_0{font-size:150px; color:black; float:left; margin-bottom: 10px;margin-left: 11vw}
#i_8ec7_1{font-size:150px; color:black; float:left; margin-bottom: 10px;margin-left: 8vw}
#i_8ec7_2{font-size:150px; color:black; float:left; margin-bottom: 10px;margin-left: 8vw}
#td_8ec7_1{padding-left: 250px;}
#p_8ec7_4{float:left;margin-right: 10vw;font-family:Gruppo;font-size:30px; color:black;}
#p_8ec7_5{float:left;margin-right: 10vw;font-family:Gruppo;font-size:30px; color:black;}
#p_8ec7_6{float:left; margin-right: 10vw;font-family:Gruppo;font-size:30px; color:black;}
#footer{background-color: black; width: 100%; background-attachment: fixed;}
#div_8ec7_23{clear:right;color: white;}
#h1_8ec7_4{color: gray;}
#div_8ec7_24{color: gray;}

body,h1 {font-family: Signika; color: indigo;}
* {
  box-sizing: border-box; 
}
  .submitbutton{
    background-color: green;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    width: 100px;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
  }

  h2,h3,h4,h5 {font-family: Gruppo; color: indigo;}
* {
  box-sizing: border-box;
}
  .submitbutton{
    background-color: green;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    width: 100px;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
  }

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .c0 {width: 4.165%;height: 4.165%;}
  .col-n-0 {width: 4.165%;height: 4.165%;}
  .col-n-1 {width: 8.33%;}
  .col-n-125{width: 10.4225%;}
  .col-n-15{width: 12.495%;}
  .col-n-1625{width: 13.53625%;}
  .col-n-175{width: 14.5775%;}
  .col-n-2 {width: 16.66%;}
  .col-n-25{width: 20.8225%;}
  .col-n-3 {width: 25%;}
  .col-n-35{width: 29.165%;}
  .col-n-4 {width: 33.33%;}
  .col-n-5 {width: 41.66%;}
  .col-n-6 {width: 50%;}
  .col-n-7 {width: 58.33%;}
  .col-n-8 {width: 66.66%;}
  .col-n-9 {width: 75%;}
  .col-n-10 {width: 83.33%;}
  .col-n-11 {width: 91.66%;}
  .col-n-12 {width: 100%;}
}
@media only screen and (min-width: 300px) {
  /* For tablets: */
  .ct-0 {width: 4.165%;}
  .col-t-0 {width: 4.165%;}
  .col-t-1 {width: 8.33%;}
  .col-t-125{width: 10.4225%;}
  .col-t-15{width: 12.495%;}
  .col-t-1625{width: 13.53625%;}
  .col-t-175{width: 14.5775%;}
  .col-t-2 {width: 16.66%;}
  .col-t-25{width: 20.8225%;}
  .col-t-3 {width: 25%;}
  .col-t-35{width: 29.165%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}
}

  @media only screen and (max-width: 1030px) {
  
  /* For tablets: */
  .cm0{width: 4.165%;}
  .col-m-0{width: 4.165%;display: none;}
  .col-m-1 {width: 8.33%;display: none;}
  .col-m-15{width: 12.495%;display: none;}
  .col-m-175{width: 14.5775%;display: none;}
  .col-m-2 {width: 16.66%;display: none;}
  .col-m-25{width: 20.8225%;display: none;}
  .col-m-3 {width: 25%;display: none;}
  .col-m-35{width: 29.165%;display: none;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .two{width: 25%; display: block;}
}

@media only screen and (min-width: 1030px) {
  /* For desktop: */
  .col-0{width: 4.165%;}
  .col-1 {width: 8.33%;}
  .col-15{width: 12.495%;}
  .col-175{width: 14.5775%;}
  .col-2 {width: 16.66%;}
  .col-25{width: 20.8225%;}
  .col-3 {width: 25%;}
  .col-35{width: 29.165%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .two1{display: none;}
}


/* ******* step 4: clear both */
[class*="col-"] {
  float: right;
  padding-top: 20px;
}

/* ******* step 5: clear both */
.row::after {
  content: "";
  clear: both;
  display: block;
}
.portfolio-wrapper {
  margin: 40px 0;
}
.section4{
  background: #ffffff;
  padding: 0px 0;
}
.item {
  height: 100%;
  width: 100%;
  background-color: #2B2E31;
  background-color: rgba(43, 46, 49, .7);
  text-align: center;
}

.owl-carousel .item a, .owl-carousel .item a img {
  display: block;
  position: relative;
}

  .menu-position{
    position: fixed;
    display: block;
    z-index: 99;
    width: 100%;
    background-color:black;
  }
.container2 {
  width: 200px;
  clear: both;
}

.container2 input {
  width: 200px;
  clear: both;
}
#footer {
  background: #333;
  padding: 30px 0 20px;
}
#footer h3 {
  color: #1e7a46;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#footer .social {
  margin: 10px 0 50px 0;
}
#footer .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#footer .social i.fa {
  font-size: 22px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #444;
  color: #6aaf08;
  border-radius: 50%;
  transition: all 0.3s;
}
#footer .social i.fa:hover {
  background: #6aaf08;
  color: #fff;
}
#footer p {
  color: #666;
  font-size: 15px;
}
#footer a {
  color: #888;
}
#footer a:hover {
  color: #ccc;
}

  .menu{
    background-color: black;
    color: white;
    float: left; 
    margin: 0px;
    text-align: center;
    font-family: Signika;
    font-size: 15px;
    border-left-color: white ;
    border-left-width: 2px;
    border-left-style: solid;

  }
  .menu:hover{
    color: blue;
  }
  .two:hover {background-color: black;}

  .dropdown:hover {background-color: indigo;}
  .footer2{
    background-color: #141414;
    text-align: center;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    width: 100%
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    transform: translate(-20% 0%);
    margin-top: 0px;
  }
.dropbtn {
    color: white;
    background-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.t {
    position: relative;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;color: indigo;}

.dropdown:hover .dropdown-content {display: block;}
.t:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: indigo;}