/* lily.css */
#div_c3a8_0{width:100%;padding:0%; float:left; clear: both;}
#div_c3a8_1{padding-left: 0px;}
#div_c3a8_2{margin-left:-60px;padding-left: 0px;}
#div_c3a8_3{border-left-style: none; float: left;padding-top: 13px;margin-right: 0px;padding-right: 0px;margin-left: -30px;padding-left: 0px;}
#div_c3a8_4{border-left-style: none;float: left;text-align: left; vertical-align: center;padding-top: 15px;margin-left: 0px;padding-left: 0px;}
#h3_c3a8_0{font-family: ubuntu ;color: white;display: inline; padding-bottom: 4px;}
#h3_c3a8_1{font-family: ubuntu ;color: blue; font-style: bold;display: inline; padding-bottom: 04px;}
#div_c3a8_5{border-left-style: none; float: left;padding-left: 0px;padding-top: 0px;}
#div_c3a8_6{border-left-style: none;padding-left: 0px;}
#b_c3a8_0{width: 100%;border-left-style: none;padding-left: 0px;}
#a_c3a8_0{color: white;}
#b_c3a8_1{width: 100%;}
#a_c3a8_1{color: white;}
#b_c3a8_2{width: 100%;}
#a_c3a8_2{color: white;}
#b_c3a8_3{width: 100%;}
#a_c3a8_3{color: white;}
#b_c3a8_4{width: 100%;}
#a_c3a8_4{color: white;}
#b_c3a8_5{width: 100%;}
#a_c3a8_5{color: white;}
#b_c3a8_6{width: 100%;}
#a_c3a8_6{color: white;}
#div_c3a8_7{float: right;border-left-style: none;margin-right:0px;padding-top: 0px;}
#a_c3a8_7{color: white;}
#a_c3a8_8{color: white;}
#a_c3a8_9{color: white;}
#a_c3a8_10{color: white;}
#a_c3a8_11{color: white;}
#a_c3a8_12{color: white;}
#a_c3a8_13{color: white;}
#a_c3a8_14{color: white;}
#div_c3a8_8{border-left-style: none; float: right;padding-top: 17px;padding-bottom: 0px;}
#div_c3a8_9{float: right;padding-right: 22px;}
#img_c3a8_0{background-color: black;border-radius:50%;border: 1px solid white;}
#div_c3a8_10{clear: right; float: right;}
#a_c3a8_15{color: white;}
#div_c3a8_11{max-width: 100%;width: 1350px; max-height: 50%;padding-top:0px;align-content: right}
#h1_c3a8_0{font-size: 5vw;color:  #FF1493;font-family: 'Signika', sans-serif;display:inline;font-weight: bold;opacity: 0.85;padding-right: 58vh;}

#div_c3a8_12{background-color:#FF1493;opacity: 0.8;max-width: 100%; max-height: 20%}
#h2_c3a8_0{color: white; font-family:Gruppo;font-weight:bold;font-size: 70px;text-align: center}
#img_c3a8_1{border-radius:50%}
#p_c3a8_0{color: hotpink; font-family: Gruppo}
#h2_c3a8_1{color: hotpink; font-family: Gruppo}
#p_c3a8_1{color: hotpink;font-family: Gruppo}
#h2_c3a8_2{text-align:justify;color: hotpink; font-family: Gruppo}
#p_c3a8_2{font-family: Gruppo; text-align: justify; font-size: 20px}
#p_c3a8_3{color: hotpink; font-family: Gruppo; text-align: justify}
#h2_c3a8_3{color: hotpink; font-family: Gruppo}
#p_c3a8_4{font-family: Gruppo; text-align: justify; font-size: 20px}
#div_c3a8_13{clear:right;color: white;}
#h1_c3a8_1{color: gray;}
#div_c3a8_14{color: gray;}
